<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fakebook - Log in or Sign up</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- HTMX library for dynamic interactions -->
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script>
      document.addEventListener("htmx:responseError", (event) => {
        document.getElementById("error-container").innerHTML =
          event.detail.xhr.response;
      });
    </script>
  </head>
  <body class="bg-gray-100 flex justify-center items-center min-h-screen p-5">
    <div
      class="flex flex-col items-center max-w-lg w-full md:flex-row md:max-w-2xl"
    >
      <!-- Left section with Fakebook branding -->
      <div class="text-center md:text-left flex-1 p-5">
        <h1 class="text-4xl font-bold text-blue-600">Fakebook</h1>
        <p class="text-lg text-gray-700">
          Connect with friends and the world around you on Fakebook.
        </p>
      </div>

      <!-- Right section with login form -->
      <div class="flex justify-center flex-1 w-full">
        <div
          class="bg-white p-6 rounded-lg shadow-md w-full max-w-xs text-center"
        >
          <h2 class="text-2xl font-bold mb-4">Log In</h2>
          <!-- Login Form with HTMX attributes -->
          <form id="login-form" hx-post="/login" hx-target="#error-container">
            <!-- Container for displaying error messages -->
            <div id="error-container" class="mb-2 text-red-500"></div>

            <input
              type="text"
              name="email"
              placeholder="Email"
              required
              class="w-full p-3 mb-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
            />

            <div class="relative w-full">
              <input
                type="password"
                name="password"
                placeholder="Password"
                required
                class="w-full p-3 mb-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
              />
            </div>

            <button
              type="submit"
              class="w-full py-3 text-lg font-bold text-white bg-blue-600 rounded-md hover:bg-blue-700"
            >
              Log In
            </button>
          </form>

          <hr class="my-4 border-gray-300" />
          <!-- Link to the registration page -->
          <a
            href="/register"
            class="w-full py-3 block text-lg font-bold text-white bg-green-500 rounded-md hover:bg-green-600"
          >
            Create New Account
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
